extends layout

block content
  div.wrapper
    p 123112312
    p#list #{memberList}
    br
    p 1
    p#goto #{goto}
    br
    p 2
    p#tickets #{tickets}
  script(src='./js/jquery.js')
  script(src='./js/app.js')
